* {
  word-wrap: break-word;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

#root {
  overflow: hidden;
}

#app {
  overflow: hidden;
}

#loginButton {
  float: right;
}

#userProfileIlnfo {
  height: 10vh;
}

.profilePicture {
  height: 3em;
}

.profileUsername {
  display: inline;
}

.board {
  overflow-y: hidden;
  overflow-x: auto;
  height: 90vh;
}

#mainBoard {
  display: grid;
  height: calc(100% - 75px);
  grid-template-rows: 100%;
  grid-template-columns: repeat(auto-fill, 255px);
  grid-auto-flow: column;
  grid-gap: 10px;
}

.list {
  width: 250px;
  overflow: hidden;
  border-radius: 5px;
  height: fit-content;
  max-height: 80vh;
  background-color: #ebecf0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

.listTitle {
  width: 200px;
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0 10px 5px;
}

.list .deleteButton,
.list .editButton {
  float: right;
  visibility: hidden;
  display: inline;
}

.list:hover .deleteButton,
.list:hover .editButton {
  visibility: visible;
}

.listContainer {
  max-height: 70vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.listItem {
  width: 225px;
  min-height: 2.5em;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
  &:hover {
    background-color: #f6f6f8;
  }
  display: grid;
  grid-template-columns: auto 20px 20px;
}

.list .listItem .deleteButton,
.list .listItem .editButton {
  visibility: hidden;
}

.list .listItem:hover .deleteButton,
.list .listItem:hover .editButton {
  visibility: visible;
}

.listItemName {
  display: inline-block;
  width: 210px;
  margin: 0.75em 0 0.75em 5px;
  grid-column: 1 / 4;
  grid-row: 1;
  z-index: 3;
}

.AddBoardForm {
  min-height: 2em;
  overflow: hidden;
  opacity: 50%;
  background-color: inherit;
}

.AddBoardFormInput {
  width: 100%;
  min-height: 2.5em;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin-left: 5px;
}

.deleteButton,
.editButton {
  display: inline;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  color: gray;
  width: 20px;
  grid-row: 1;
  height: 20px;
  background-color: rgba(119, 136, 153, 0.103);
  &:hover {
    background-color: rgba(114, 113, 113, 0.322);
  }
}

.deleteButton {
  grid-column: 3;
  z-index: 4;
}

.editButton {
  grid-column: 2;
  z-index: 4;
}

.backButton {
  display: block;
}

.clickable {
  cursor: pointer;
}

.shareButtons {
  color: lightgray;
  &:hover {
    color: black;
  }
}

.boardShareInputForm {
  display: inline;
}
